__pycache__/
.cache/
.DS_Store
.tmp/
.venv
.vscode
.yaml
*.bak
*.dll
*.exe
*.log
*.orig
*.pyc
*.pyd
*.pyo
*.rpt
*.so
*.swo
*.swp
*.tmp
*~
deploy-backups/
deploy-output.log
Desktop.ini
Log/
logs/
Scripts
storage_1
storage_2
Thumbs.db