*.rpt
*.log
logs/
Log/
.tmp/
.cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.bak
*.tmp
*.orig
*.so
*.dll
*.exe
.yaml
deploy-output.log
deploy-backups/
.DS_Store
Thumbs.db
Desktop.ini
.vscode/.workspace-state
.vscode/tasksHistory.json
*.swp
*.swo
*~
ftp_config.json
storage_1
storage_2
Scripts
.venv
.vscode